# Webフレームワーク
fastapi==0.110.0            # api規則定義
uvicorn[standard]==0.29.0   # websever

# データベース接続するためのもの
sqlalchemy==2.0.28          # sql文をpython文で使わせる
pymysql==1.1.0              # DB通信
cryptography==42.0.5        # DB パスワード暗語化

# 開発・テスト用
faker==24.4.0
pytest==8.1.1
httpx==0.27.0

# ハッシュ暗語化
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

# JWT(session)
PyJWT==2.8.0

# 環境変数
python-dotenv==1.0.1

# minioというlocal object storageのため
boto3==1.42.78
# pdf 生成ライブラリ
reportlab==4.1.0 
# graph
matplotlib==3.8.3